{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    .form-control{
      background-color: #fff transparent;
    }
    .close-button {
    cursor: pointer;
    font-weight: bold;
    position: relative;
    top: 25px;
    left: 370px;
    color: rgb(230, 171, 45);
    background-color: #111;
    font-size: 20px;
  }
  .form-popup {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #f1f1f1;
      border: 3px solid black;
      z-index: 9999;
      padding: 20px;
      max-width: 300px;
    }
  
    /* Full-width input fields */
    .form-popup input[type="text"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0 20px 0;
      border: none;
      background: #f1f1f1;
    }
    .form-popup .btn {
      background-color: #04aa6d;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
    }
  
    /* Set a style for the close button */
    .form-popup .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
  
    /* Change the color of the close button on hover */
    .form-popup .close:hover {
      color: black;
    }
    .modal{
      z-index:9999;
      overflow: scroll;
    }
  </style>
    
    <div class="modal fade" id="Add_option">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
          <div class="modal-header " style="background: rgb(32, 35, 37);">
              <h3 class="m-3 text-uppercase">Add Option</h3>
              <button type="button" class="close btn btn-sm btn-danger " data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body" style="background: rgb(32, 35, 37);">
            <div class="card p-3 m-3">
              <form action="" method="post" class="needs-validation" novalidate autocomplete="off" id="modalOptions">
                 {% csrf_token %}
                <div class="row mt-5">
                  <div class="col-sm-8">
                      <div class="row">
                          <div class="col-sm-4">
                              <label for="">Add Option</label>
                          </div>
                          <div class="col-sm-8">
                              <input type="text" name="option" id="option" class="form-control bg-light text-dark"> 
                          </div>
                      </div>
          
                  </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-12" style="text-align: center;">
                    <button type="button" data-dismiss="modal" aria-label="Close" style="width: 200px; height: 50px;" id="CreateOption" class="btn btn-success" value="Add">Add</button>
                </div>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>  
    </div>
  <div class="container-fluid  bg-dark text-center" style="border-radius: 20px; margin-bottom: 40px;">
    <div class="heading" style="padding: 20px;">
    <h3 class="text-center">Add Payment</h3>
  </div>
<form action="{% url 'payment_add_details' %}" id="myForm" style="width: 95%; height: 100%; margin-top: 40px;" class="text-center" method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Vendor *</label>
                <div class="col-sm-10 col-md-7 col-9 ml-5">
                    <div class="input-group mb-2">
                        <select name="select" id="vendor-select" class="form-control bg-light text-dark"  oninput="filterOptions()" style="margin-left: 40px;">
                                  
                            {% for p in vendors %}
                            <option value="{{ p.id }}" data-email="{{ p.vendor_email }}" data-balance="{{ p.opening_bal }}" data-gst="{{ p.gst_treatment }}">{{ p.first_name }} {{ p.last_name }}</option>

                                      {% endfor %}

                            </select>                              

                    

                    </div>
                </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Email*</label>

            <div class="col-sm-10 col-md-7 col-9">
              <div class="input-group mb-2">
                <input type="email" name="email" style="margin-left: 40px;" class="form-control bg-light text-dark" id="email-input" placeholder="Enter Email Address" value="{{ user.vendor_email }}">


            </div>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">GST Treatment*</label>
          <div class="col-sm-10 col-md-7 col-9">
            <div class="input-group mb-2">
            <input  type="text" id="gst" style="margin-left: 40px;" name="gst" placeholder="GST Treatment" class="form-control bg-light text-dark"  >
          </div>
          </div>
        </div>
            <div class="form-group row">
                <label for="input2"  class="col-sm-2 col-form-label">Payment Method *</label>
                <div class="col-sm-10 col-md-7 col-9 ml-5">
                    <div class="input-group mb-2">
                      <select id="selectField1" style="margin-left: 40px;" name="payment_method" class="form-control bg-light text-dark">
                        {% for p in option %}
                        <option value="{{ p.id }}" id="opt_name" selected>{{ p.option }}</option>
                        {% endfor %}
                          </select>
                          <button class="addButton btn btn-sm" data-toggle="modal" data-target="#Add_option" style="background-color: rgb(230, 171, 45); color: #fff;" type="button">+</button>
                          
                        
                          
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Reference*</label>
              <div class="col-sm-10 col-md-7 col-9">
                <div class="input-group mb-2">
                <input  type="text" style="margin-left: 40px;" name="reference" placeholder="Reference" class="form-control bg-light text-dark"  >
              </div>
              </div>
            </div>
            

        
   

  
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Payment Date*</label>
        <div class="col-sm-10 col-md-7 col-9 ml-5">
          <div class="input-group mb-2">
        <input type="date" style="margin-left: 40px;" class="form-control bg-light text-dark" name="date">
      </div>
    </div>
    </div>
    <div class="form-group row">
        <label  class="col-lg-2 col-form-label">Paid Through*</label>
        <div class="col-sm-10 col-md-7 col-9 ml-5">
         <div class="input-group mb-2">
          <div>
            <input type="radio" id="cashRadio" name="paid_through" value="cash" style="margin-left: 40px;">
            <label for="cashRadio">In-Hand Cash</label>
          </div>
          <div>
            <input type="radio" id="bankRadio" name="paid_through" value="bank" style="margin-left: 60px;">
            <label for="bankRadio">Bank</label>
          </div>
          
          </div>
        </div>
      </div>
          <div id="bankOptions" class="form-group row" style="display: none; margin-left: 160px; width: 100%;">
            
            <label  class="col-lg-2 col-form-label" style="margin-left: -390px;">Select Bank:</label>
            <div class="col-sm-10 col-md-7 col-9 ml-5">
              <div class="input-group mb-2">

            <select id="bankName" style="margin-left: 40px;" name="bank_name_select" class="form-control bg-light text-dark">
              {% for v in bank %}
              <option value=" {{ v.bnk_name }}">{{ v.bnk_name }}</option>
              {% endfor %}

            </select>
            <button type="button" class="btn btn-sm" style="background-color: rgb(230, 171, 45); color: #fff;" data-toggle="modal" data-target="#Add_bank">+</button>
          </div>
          </div>
          </div>
       
          
    
    <div class="small-form" style="margin-top: 100px; width: 95%; margin-left: 40px;">
      <h4>Add Amount</h4>
    <div class="form-group row" style="margin-top: 20px;">
        
      <label  class="col-sm-2 col-form-label">Openning Balance*</label>
      <div class="col-sm-10 col-md-7 col-9 ml-5">
      <div class="input-group mb-2">
       <input type="number" style="margin-left: 40px;" id="balance" class="form-control bg-light text-dark" name="balance" placeholder="Opening Balance" value="{{ user.opening_bal }}">
     </div>
   </div>
</div>
    <div class="form-group row">
        
       <label  class="col-sm-2 col-form-label">Amount*</label>
       <div class="col-sm-10 col-md-7 col-9 ml-5">
       <div class="input-group mb-2">
        <input type="number" style="margin-left: 40px;" id="amount" placeholder="Amount" class="form-control bg-light text-dark" name="amount">
      </div>
    </div>
</div>
<div class="form-group row">
        
  <label  class="col-sm-2 col-form-label">Current Balance*</label>
  <div class="col-sm-10 col-md-7 col-9 ml-5">
  <div class="input-group mb-2">
   <input type="number" id="difference" style="margin-left: 40px;" class="form-control bg-light text-dark" name="difference" placeholder="Current Balance">

 </div>
</div>
</div>
<div class="row"  style="margin-top: 80px;">
  <div class="col-sm-4">
    <button type="submit" class="btn  mt-3 " style="width: 100px; background-color: rgb(230, 171, 45); margin-bottom: 30px; margin-right: 190px; border-radius: 20px; width: 150px; height: 35px;">Submit</button>

  </div>
  <div class="col-sm-8">
    <button type="button" onclick="clearForm()" class="btn  mt-3 " style="width: 100px; background-color: rgb(230, 171, 45); margin-bottom: 30px; margin-left: -740px; border-radius: 20px; width: 150px; height: 35px;">Clear</button>

  </div>
</div>

</div>
    

</form>

</div>
<div class="modal fade" id="Add_bank">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
      <div class="modal-header " style="background: rgb(32, 35, 37);">
          <h3 class="m-3 text-uppercase">Add Bank Name</h3>
          <button type="button" class="close btn btn-sm btn-danger " data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" style="background: rgb(32, 35, 37);">
        <div class="card p-3 m-3">
          <form action="" method="post" class="needs-validation" novalidate autocomplete="off" id="modalBanking">
             {% csrf_token %}
            <div class="row mt-5">
              <div class="col-sm-8">
                  <div class="row">
                      <div class="col-sm-4">
                          <label for="">Add Bank</label>
                      </div>
                      <div class="col-sm-8">
                        <input name="bnk_nm" id="bnk_nm" class="form-control bg-light text-dark" placeholder="Enter Bank Name">
                          
                      </div>
                  </div>
      
              </div>
          </div>
          <div class="row mt-5">
            <div class="col-sm-12" style="text-align: center;">
                <button type="button" data-dismiss="modal" aria-label="Close" style="width: 200px; height: 50px;" id="CreateBanking" class="btn btn-success" value="Add">Add</button>
            </div>
        </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
 

 const cashRadio = document.getElementById('cashRadio');
const bankRadio = document.getElementById('bankRadio');
const bankOptionsDiv = document.getElementById('bankOptions');
const bankSelect = document.getElementById('bankName');
const addBankButton = document.getElementById('addBankButton');

bankRadio.addEventListener('change', function() {
  if (this.checked) {
    bankOptionsDiv.style.display = 'block';
  } else {
    bankOptionsDiv.style.display = 'none';
  }
});


 function clearForm() {
  // Get the form element
  var form = document.getElementById('myForm');
  
  // Reset the form to clear all the input fields
  form.reset();
}

 function filterOptions() {
    var input = document.getElementById("Select");
    var filter = input.value.toUpperCase();
    var options = input.getElementsByTagName("option");

    for (var i = 0; i < options.length; i++) {
      var option = options[i];
      var text = option.text.toUpperCase();
      if (text.includes(filter)) {
        option.style.display = "";
      } else {
        option.style.display = "none";
      }
    }
  }

// Get the add buttons
var addButtons = document.getElementsByClassName('addButton');

// Add event listeners to the add buttons
Array.from(addButtons).forEach(function (button) {
  button.addEventListener('click', function () {
    var dynamicForm = document.getElementById('dynamicForm');
    var newOptionInput = document.getElementById('newOptionInput');
    var selectFieldId = this.getAttribute('data-target');
    var selectField = document.getElementById(selectFieldId);

    // Clear input field on toggle
    newOptionInput.value = '';

    // Toggle visibility
    dynamicForm.style.display = 'block';

    // Add event listener to the form submission
    document.getElementById('submitButton').addEventListener('click', function () {
      var optionName = newOptionInput.value.trim();

      if (optionName) {
        // Check if the option already exists in the select field
        var exists = Array.from(selectField.options).some(function (option) {
          return option.value === optionName;
        });

        if (!exists) {
          // Create a new option element and add it to the select field
          var newOption = document.createElement('option');
          newOption.value = optionName;
          newOption.text = optionName;
          selectField.add(newOption);
        }

        // Hide the dynamic form
        dynamicForm.style.display = 'none';
      }
    });
  });
});




document.addEventListener('DOMContentLoaded', function() {
          var vendorSelect = document.getElementById('vendor-select');
          var emailInput = document.getElementById('email-input');
          var Balanceinput = document.getElementById('balance')
          var GSTinput = document.getElementById('gst')

          

          var initialEmail = emailInput.value;
          var initialBalance = Balanceinput.value;
          var intitialGST = GSTinput.value;



          vendorSelect.addEventListener('change', function() {
              var selectedOption = vendorSelect.options[vendorSelect.selectedIndex];
              var email = selectedOption.getAttribute('data-email') || initialEmail;
              var balance = selectedOption.getAttribute('data-balance') || initialBalance;
              var gst = selectedOption.getAttribute('data-gst') || intitialGST;



         
              
              emailInput.value = email;
              Balanceinput.value = balance;
              GSTinput.value = gst;
            });
      });

      $(document).ready(function() {
    $('#amount').on('input', function() {
        var balance = parseFloat($('#balance').val());
        var amount = parseFloat($(this).val());
        var difference = balance - amount;
        
        // Update the difference input field with the calculated value
        $('#difference').val(difference);
    });
});


function closeDiv() {
  var divElement = document.getElementById("dynamicForm");
  divElement.style.display = "none";
}


$(document).on("click","#CreateBanking",function(){
  
  var a = $("#bnk_nm").val()
  console.log(a)
  $.ajax({
    type: 'POST',
    url: "{% url 'added_banking' %}",
    data: {
      
      bnk_name:$("#bnk_nm").val(),
      
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
   
    success: function (response) {
      $("#Add_bank").modal("hide"); // Close the modal
      reloadbank(); // Refresh the dropdown
    },
    error: function (xhr, status, error) {
      console.error(xhr.responseText);
    }
  });
});


function reloadbank() {
  $.ajax({
    url: "{% url 'banking_dropdown' %}",
    type: "GET",
    dataType: "json",
    data: {}, // No need to serialize data here
    success: function (data) {
      var dropdown = $('#bankName');
      dropdown.empty();
      $.each(data, function(id, name) {
        dropdown.append($("<option>").attr("value", name).text(name));
      });
    },
    error: function (xhr, status, error) {
      console.error(xhr.responseText);
    }
  });
}


$(document).on("click", "#CreateOption", function () {
  $.ajax({
    type: "POST",
    url: "{% url 'add_option' %}",
    data: {
      option: $("#option").val(),
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function (response) {
      $("#Add_option").modal("hide"); // Close the modal
      reloadVendor(); // Refresh the dropdown
    },
    error: function (xhr, status, error) {
      console.error(xhr.responseText);
    }
  });
});

function reloadVendor() {
  $.ajax({
    url: "{% url 'option_dropdown' %}",
    type: "GET",
    dataType: "json",
    data: $(this).serialize(),
    csrfmiddlewaretoken: '{{ csrf_token }}',

    success: function(data) {
      var dropdown = $('#selectField1');
      dropdown.empty();

      $.each(data, function(id, name) {
        dropdown.append($("<option>").attr("value", id).text(name));
      });
    },
    error: function(xhr, status, error) {
    console.error(xhr.responseText);
    }
  });
}



// function reloadBanking(event) {

//   $.ajax({
//     url: "",
//     type: "GET",
//     dataType: "json",
//     data: $(this).serialize(),

//     csrfmiddlewaretoken: '{{ csrf_token }}',

//     success: function (data) {
//       var dropdown = $('#bank');
//       dropdown.empty();
//       $.each(data, function (key, value) {
//         if (value) { // Check if bnk_name exists and is not None
//           dropdown.append($('<option></option>').attr('value', key).text(value[0]+" " +value[1] + ' ' + value[2]).val(value[3]+' '+ value[1] + ' ' + value[2]+ ' ' +value[3]));
//         }
//       });
//     },
//     error: function (xhr, status, error) {
//       console.error(xhr.responseText);
//     }
//   });
// }

  </script>



{% endblock %}
