{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    
  </style>
    
    
<form action="{% url 'payment_add_details' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Vendor *</label>
                <div class="col-sm-10 col-md-7 col-9 ml-5">
                    <div class="input-group mb-2">
                        <select name="select" id="selectInput" class="form-control" onchange="filterOptions()">
                                  
                            {% for p in vendors %}
                            <option value="{{ p.id }}">{{ p.vendor_display_name }}</option>

                                      {% endfor %}

                            </select>                              

                    

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="input2"  class="col-sm-2 col-form-label">Payment Method *</label>
                <div class="col-sm-10 col-md-7 col-9 ml-5">
                    <div class="input-group mb-2">
                        <select id="input2" name="select1" class="form-control">
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>

                          </select>
                          <button type="button" class="addButton">+</button>
                          
                        
                          
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label">Reference*</label>
              <div class="col-sm-10 col-md-7 col-9">
                <div class="input-group mb-2">
                <input  type="text" name="reference" class="form-control"  >
              </div>
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">email*</label>

            <div class="col-sm-10 col-md-7 col-9">
              <div class="input-group mb-2">
              <input  type="email" name="email" class="form-control" value="{{ email }}" readonly>


            </div>
            </div>
          </div>

        </div>
   

<div class="col-md-6">
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Payment Date*</label>
        <div class="col-sm-10 col-md-7 col-9 ml-5">
          <div class="input-group mb-2">
        <input type="date" class="form-control" name="date">
      </div>
    </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Paid Through*</label>
        <div class="col-sm-10 col-md-7 col-9 ml-5">
         <div class="input-group mb-2">
        <select id="selectField2" name="select2" class="form-control">
            <option value="Bank">Bank</option>
            <option value="In Cash">In Cash</option>
        </select>
        
          
        </div>
          </div>
    </div>
    <div class="form-group row">
        
       <label  class="col-sm-2 col-form-label">Amount*</label>
       <div class="col-sm-10 col-md-7 col-9 ml-5">
       <div class="input-group mb-2">
        <input type="number" class="form-control" name="amount">
      </div>
    </div>
</div>
    </div>
    
</div>
<button type="submit" class="btn btn-success mt-3 " style="width: 100px;">Submit</button>
</form>
<div class="container-fluid">
  <div class="table">
  <table class="table"style="width:100%; margin-left: auto; margin-right: auto; margin-top: 40px;">
    <thead>
      <tr style="color:white;">
        <th>#</th>
        <th>Date</th>
        <th>Bill Number</th>
        <th>Bill Ammount</th>
        <th>Due Date</th>
        <th>Ammount Due</th>
        <th>Payment</th>

      </tr>
    </thead>
  </table>
  </div>
</div>
</div>

<script>
 

function filterOptions() {
  // Get the user's input
  var selectedOption = document.getElementById("selectInput").value;
  
  // Get all the available options
  var options = document.getElementsByClassName("option");
  
  // Loop through each option and hide/show them based on the user's input
  for (var i = 0; i < options.length; i++) {
    var option = options[i];
    var optionText = option.textContent.toLowerCase();
    
    if (optionText.includes(userInput)) {
      option.style.display = "block";  // Show the option
    } else {
      option.style.display = "none";   // Hide the option
    }
  }
}

  </script>



{% endblock %}
