{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .table-container {
        height: 600px;
        margin-left:90px;
    }
    .button-container {
        position:absolute;
        top: 195px;
        margin-bottom:-30px;
        margin-left: 740px;
        background-color: rgb(230, 171, 45);
    }
    .form-control{
      background-color: black transparent;
    }
    .button-container a{
        color: #FFFEEE;
    }
    td a{
        color: #fff;
    }
    #over:hover{
        background-color: rgba(110, 110, 110, 0.616);
        
    }
</style>

<h1>Payment Made</h1>




<div class="table-container" style="margin-top: 50px;">
    <div class="search-bar">
        <div class="row">
            <div class="col-md-3">
                <input type="search" name="query" id="searchInput"  placeholder="Search Payment Made" style="width: 230px;" class="form-control custom-height">

            </div>
            <div class="col-md-9">
                <div class="input-group-append">
                    <button type="submit" class="btn   custom-height" onclick="searchTable()" style="background-color: rgb(230, 171, 45);">Search</button>
                </div>
            </div>
        </div>
        
            
        
    </div>
    <div class="button-container">
        <a type="button" class="btn  ml-auto" style="width: 100px;" href="{% url 'paymentadd_method' %}">+new</a>
    </div>
    
    <table id="vendorTable" class="table" style="width:70%;  margin-top: 40px;">
        <thead>
            <tr style="color:white;">
                <!--<th>#</th>-->
                <th>Payment</th>
                <th>Reference</th>
                <th>Payment Date</th>
                <th>Vendor</th>
                <th>Payment Method</th>
                <th>Ammount Received</th>



            </tr>
        </thead>
        <tbody>
            {% for p in paymnt %}
                                <tr id="over">
                                   <!--- <td>{{ p.id}}</td>-->
                                    <td><a href="{% url 'payment_details_view' %}">{{ p.payment}}</a></td>
                                    <td><a href="{% url 'payment_details_view' %}">{{ p.reference}}</a></td>
                                    <td><a href="{% url 'payment_details_view' %}">{{ p.date}}</a></td>
                                    <td><a href="{% url 'payment_details_view' %}">{{ p.vendor.first_name}}</a></td>  
                                    <td><a href="{% url 'payment_details_view' %}">{{ p.cash }}</a></td>  
                                    <td><a href="{% url 'payment_details_view' %}">₹{{ p.amount }}</a></td> 
                                    </tr>
                                    {% endfor %}

            </tbody>
            </table>
        </div>

<script>

function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("vendorTable");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (var j = 0; j < td.length; j++) {
            var cell = td[j];
            if (cell) {
                txtValue = cell.textContent || cell.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
}

    </script>

{% endblock %}
