{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="forms text-center" style="width: 40%;">
        <form action="/payment_edit_view/{{ payment.pk }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Edit Payment</h2>
            <p>
              <label for="payment">Payment:</label>
              <input type="text" class="form-control" id="payment" name="payment" value="{{ payment.payment }}">
            </p>
            <p>
              <label for="reference">Reference:</label>
              <input type="text" id="reference" class="form-control" name="reference" value="{{ payment.reference }}">
            </p>

            <p>
                <label for="reference">Vendors:</label>
                <select name="select" id="vendor-select" class="form-control" value="{{ payment.vendor.first_name }}">
                                  
                    {% for p in vendor %}
                    <option value="{{ p.id }}">{{ p.first_name }}</option>

                              {% endfor %}

                    </select> 
              </p>

              <p>
                <label for="reference">Payment Method:</label>
                <input type="text" id="vendor" name="cash" class="form-control" value="{{ payment.cash }}">
              </p>

              <p>
                <label for="reference">Payment Date:</label>
                <input type="date" id="vendor" name="date" class="form-control" value="{{ payment.date }}">
              </p>

              <p>
                <label for="reference">Email ID:</label>
                <input type="email" id="vendor" name="email" class="form-control" value="{{ payment.email }}">
              </p>

              <p>
                <label for="reference">Amount Received:</label>
                <input type="number" id="vendor" name="ammount" class="form-control" value="{{ payment.amount }}">
              </p>

              <p>
                <label for="reference">Opening Balance:</label>
                <input type="number" id="vendor" name="balance" class="form-control" value="{{ payment.balance }}">
              </p>

              <p>
                <label for="reference">Current Balance:</label>
                <input type="number" id="vendor" name="current_balance" class="form-control" value="{{ payment.current_balance }}">
              </p>

            <button type="submit" class="btn btn-success ml-auto">Save Changes</button>
          </form>
    </div>
</div>


{% endblock %}
